.Card {
    background-color: aqua;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    border-radius: 12px;
    padding: 16px 16px 16px 16px;
}

.imageCard {
    height: 200px;
    width: auto;
    border-radius: 8px;
    background-color: white;
}

.title-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-title {
    text-align: center;
}